
*{
    font-family: 'Montserrat','sans-serif';
}


/* color del fondo col izquierda */
.bg-primary{
    background-color: #2c3e50 !important;
}


.foto-perfil {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

/* opacidad barra progreso */
.progress{
    background-color: rgba(255,255,255, 0.2) !important;
}

/* cambio color texto col dere */
.text-primary{
    color: #3498db !important;
}